
.parent{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    /* grid-area: 200px; */
    grid-row-gap:10px;
    grid-column-gap: 10px;
    
    

    
}
.div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    
    
}
.div1{
    height: 50px;
    
    background-color: blueviolet;
   
    width: 100px;
    align-self: start;
    justify-self: start;

    /* grid-column: 5/6;
    grid-row: 3/4; 
    grid-area: x;
    grid-area: 10px; */
}
